body {
  height: 100%;
  padding-top: 100px !important;
}

.google:hover {
  color: skyblue;
}

.google-pluse:hover {
  color: #DD4B39;
}

.facebook:hover {
  color: #3b5998;
}

.twitter:hover {
  color: #00acee;
}

.linkedin:hover {
  color: #0e76a8;
}

.skype:hover {
  color: #00aff0;
}

.instagram:hover {
  color: #fb3958;
}

.label {
  line-height: 3;
}

.pt-80 {
  padding-top: 80px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.separator{
    height: 200px;
    width: 0px;
    padding-left: 0px;
    border-left: 1px solid gray;
}

svg {
    width: 100%;
    display: block;
}

.wrapper {
    position: relative;
    width: 200px;
    height: 200px;
}

.wrapper > .bar, .wrapper > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wrapper > img {
    border-radius: 50%;
}

.progressbar-label{
  font-size: 10px;
}

.wrapper:hover div{
  font-size: 50px;
  color:maroon !important;
}

.social-icon{
  padding: 5px 15px 5px 15px;
  font-size: 50px;
  color: black;
}
